@if(showOverlay){
<!-- Loading Overlay -->
<div
  class="fixed inset-0 backdrop-blur-sm bg-black/30 flex items-center justify-center z-40 pointer-events-auto"
>
  <!-- Golden spinner + text -->
  <div class="flex flex-col items-center gap-2">
    <svg
      class="animate-spin h-8 w-8 text-[#ffbd20]"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      />
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
      />
    </svg>
    <p class="text-white text-sm">Please wait...</p>
  </div>
</div>
}

<div class="flex flex-col gap-3">
  <div class="font-semibold text-[#d1d1d1] text-lg">Add Experience</div>

  <!-- for first 2 inputs -->
  <div class="flex [&>*]:w-1/2 gap-4">
    <app-profile-input
      [(value)]="experience.title"
      [field]="fields[0]"
      [required]="true"
    />
    <app-profile-input
      [(value)]="experience.company"
      [field]="fields[1]"
      [required]="true"
    />
  </div>
  <div>
    <app-profile-input
      [(value)]="experience.location"
      [field]="fields[2]"
      [required]="true"
    />
  </div>
  <!-- for textarea -->
  <div class="w-full">
    <label class="font-semibold text-md text-[#d1d1d1]" for=""
      >Summary <span class="text-rose-500">*</span></label
    >
    <textarea
      class="bg-[#2d2d2d] text-white p-3 rounded border border-[#555555] hover:border-[#ffbd20] focus:border-[#ffbd20] focus:outline-none transition-all appearance-none resize-none cursor-default w-full"
      placeholder="Enter Summary"
      required="true"
      [style.minHeight.px]="7 * 24"
      [(ngModel)]="experience.description"
    ></textarea>
  </div>

  <!-- for start and end date -->
  <div class="flex [&>*]:w-1/2 gap-4">
    <!-- start date -->
    <div class="flex flex-col space-y-1">
      <label for="monthInput" class="text-md font-medium text-[#d1d1d1]">
        Start Date <span class="text-rose-500">*</span>
      </label>
      <input
        type="month"
        id="monthInput"
        name="monthInput"
        min="1980-01"
        [max]="endDate"
        [(ngModel)]="startDate"
        class="border border-gray-300 rounded-md px-3 py-2 text-white bg-transparent hover:bg-[#ffbd20]/10 focus:outline-none focus:ring-2 focus:ring-yellow-400"
      />
    </div>

    <!-- end date  -->
    <div class="flex flex-col space-y-1">
      <label for="monthInput" class="text-md font-medium text-[#d1d1d1]">
        End Date <span class="text-rose-500">*</span>
      </label>
      <input
        type="month"
        id="monthInput"
        name="monthInput"
        [min]="startDate"
        [max]="maxDate"
        [disabled]="disableEndDate()"
        [(ngModel)]="endDate"
        class="border border-gray-300 rounded-md px-3 py-2 text-white bg-transparent hover:bg-[#ffbd20]/10 focus:outline-none focus:ring-2 focus:ring-yellow-400"
      />
    </div>
  </div>

  <!-- checkbox -->

  <!-- when click on input make sure to disable the end date -->
  <app-input-field
    [(value)]="experience.working"
    (valueChange)="makeDisableEndDate($event)"
    type="checkbox"
    [required]="true"
    label="I am currently working here"
  />

  <!-- buttons for save and cancel -->
  <div class="flex mt-2 gap-4">
    <div>
      <button
        (click)="addExperience()"
        class="px-5 py-1 rounded bg-[#3d3d3d] text-[#ffd149] border border-[#ffbd20] hover:bg-[#ffbd20] hover:text-white transition duration-200"
      >
        Save
      </button>
    </div>

    <div>
      <button
        (click)="makeCanAddFalse()"
        class="rounded px-4 py-1 border border-red-600 text-red-600 bg-red-600/10 hover:bg-red-600/20 transition"
      >
        Cancel
      </button>
    </div>
  </div>
</div>

@if(notification.show){
<app-notification
  [(show)]="notification.show"
  [message]="notification.message"
  [type]="notification.type"
  [title]="notification.title"
  [time]="notification.time"
/>
}
