<div
  (click)="navigate()"
  class="bg-[#3d3d3d] rounded-xl p-2 border-l-2 border-[#ffbd20] flex flex-col gap-1"
  [ngClass]="{
    '  bg-[#ffbd20]  shadow-lg ': job().id === id(),
  }"
>
  <!-- <div>{{ id() }}</div> -->
  <div
    class="text-sm font-semibold"
    [ngClass]="{
      'text-black': job().id === id(),
      'text-[#d1d1d1]': job().id !== id(),
    }"
  >
    {{ job().jobTitle }}
  </div>
  <div
    class="text-xs font-medium"
    [ngClass]="{
      'text-[#242222]': job().id === id(),
      'text-[#b0b0b0]': job().id !== id(),
    }"
  >
    {{ job().location }}
  </div>
  <div
    class="text-xs"
    [ngClass]="{
      'text-black': job().id === id(),
      'text-[#b0b0b0]': job().id !== id(),
    }"
  >
    Posted {{ getTime }}
  </div>
</div>
