<div class="min-h-[90vh] font-['poppins'] bg-[#2d2d2d] p-4">
  <div class="px-6 w-1/8">
    <button
      routerLink="/find-jobs"
      class="rounded px-4 py-2 text-[#ffbd20] bg-[#ffbd2033] hover:bg-[#ffbd204d] transition"
    >
      &#8592; Back
    </button>
  </div>

  <!-- main section  -->
  <div class="flex mt-4 gap-5 justify-around text-[#d1d1d1]">
    <!-- 2/3 section JOb description -->
    <div class="w-2/3">
      <app-job-description-overview />
    </div>
    <!-- recommended jobs -->
    <div class="">
      <app-recommended-jobs />
    </div>
  </div>
</div>
