<!-- Main dream job section  -->
<div class="flex items-center px-16">
  <!-- left section -->
  <div class="flex flex-col w-[45%] gap-6">
    <div
      class="text-6xl font-bold leading-tight text-[#e7e7e7] [&>span]:text-[#ffbd20]"
    >
      Find your <span>dream </span> <span>job</span> with us
    </div>
    <div class="text-lg text-[#d1d1d1]">
      Good life begins with a good company. Start explore thousands of jobs in
      one place
    </div>
    <div>
      <!-- placeholders -->

      <app-search-bar />
    </div>
  </div>

  <!-- right section -->
  <div class="w-[55%] flex justify-center items-center">
    <div class="w-[30rem] relative">
      <img src="assets/Boy.png" alt="dream big boy iimage" />

      <!-- right sections avatar section -->

      <!-- CARD-1 -->
      <div
        class="absolute -right-12 top-[45%] w-fit rounded-lg border border-[#ffbb20] backdrop-blur-lg p-4"
      >
        <div class="text-center mb-1 text-sm text-[#e7e7e7]">10k+ got jobs</div>
        <!-- Avatar groups-->
        <div class="flex -space-x-3">
          <img
            src="https://i.pravatar.cc/40?img=1"
            class="w-10 h-10 rounded-full border-2 border-white object-cover"
          />
          <img
            src="https://i.pravatar.cc/40?img=2"
            class="w-10 h-10 rounded-full border-2 border-white object-cover"
          />
          <img
            src="https://i.pravatar.cc/40?img=3"
            class="w-10 h-10 rounded-full border-2 border-white object-cover"
          />
          <div
            class="w-10 h-10 rounded-full border-2 border-white bg-gray-600 text-white flex items-center justify-center text-sm"
          >
            +9k
          </div>
        </div>
      </div>

      <!-- CARD-2 -->
      <div
        class="absolute -left-12 top-[27%] w-fit rounded-lg border border-[#ffbb20] backdrop-blur-lg p-4 flex flex-col gap-3"
      >
        <div class="flex gap-2 items-center">
          <div class="w-10 h-10 p-2 bg-[#3d3d3d] rounded-lg">
            <img src="assets/Icons/Google.png" alt="icon image" />
          </div>
          <div class="text-[#e7e7e7] text-sm">
            <div>Software Engineer</div>
            <div class="text-[#d1d1d1] text-xs">New York, USA</div>
          </div>
        </div>
        <div class="flex justify-around gap-2 w-fit text-[#d1d1d1] text-xs">
          <span> 1 day ago</span>
          <span> 120 Applicants</span>
        </div>
      </div>
    </div>
  </div>
</div>
