<div class="min-h-[90vh] font-['poppins'] bg-[#2d2d2d] px-4 text-[#d1d1d1]">
  <!-- main section  -->
  <div class="flex mt-3 gap-5">
    <!-- here  -->

    <!-- jobs : active and draft -->
    <div class="w-1/5 mt-5">
      <div class="text-2xl font-semibold mb-5">Jobs [{{ totalJobs }}]</div>
      <!-- tabs !!!  -->
      <div>
        <app-tabs
          [activeTabIndexInput]="getStatus"
          [titles]="['Active', 'Drafts']"
          [components]="tabComponents"
          [componentInputs]="tabComponentsInputs"
        />
      </div>
    </div>

    <!-- posted job description -->
    @if(activeJob){
    <div class="mt-5 w-3/4 px-5">
      <!-- title -->
      <div class="text-2xl font-semibold flex items-center gap-2">
        {{ activeJob.jobTitle }}
        <span
          class="inline-block px-3 py-1 text-xs font-medium rounded-full text-[#ffbd20] bg-[#756541]"
        >
          Badge
        </span>
      </div>

      <div class="font-medium mb-5 text-[#b0b0b0]">
        {{ activeJob.location }}
      </div>

      <!-- tabs !! -->
      <div>
        <app-tabs
          [activeTabIndexInput]="0"
          [titles]="[
            'Overview',
            'Applicants',
            'Invited',
            'Offered',
            'Rejected'
          ]"
          [components]="tabComponents2"
          [componentInputs]="tabComponentInput2"
        />
      </div>
    </div>
    }@else {
    <div
      class="w-3/4 px-5 text-center gap-2 min-h-[70vh] flex flex-col items-center justify-center h-full"
    >
      <div class="text-2xl font-semibold">No Active Job</div>
      <div class="text-[#b0b0b0]">Please select a job to view details.</div>
    </div>
    }
  </div>
</div>
