<div
  class="mt-20 h-[40vh] flex justify-evenly items-center mx-20 px-10 py-10 rounded-xl bg-[#3d3d3d]"
>
  <div class="text-5xl w-3/5 text-center font-semibold text-[#e7e7e7]">
    Never Wants to Miss Any
    <span class="text-[#ffbd20]">Job News?</span>
  </div>

  <!-- input and button -->
  <div class="flex gap-4 px-3 py-2 bg-[#4f4f4f] items-center rounded-xl">
    <div class="flex flex-col gap-1">
      <input
        type="text"
        placeholder="Your@email.com"
        class="bg-[#2d2d2d] border border-[#444] text-white placeholder-gray-400 text-xl rounded-md px-5 py-3 focus:outline-none focus:ring-2 focus:ring-[#ffd149] w-[300px]"
      />
      <!-- <p class="text-xs text-gray-400">Input description</p> -->
    </div>

    <button
      class="bg-[#ffbd20] text-black font-medium px-4 py-2 rounded-md hover:bg-[#f99b07] transition duration-200 text-lg"
    >
      Subsribe
    </button>
  </div>
</div>
