<div class="w-full mx-auto text-white">
  <!-- Tab Titles -->
  <div class="flex gap-8 flex-wrap border-b border-[#555555] mb-6">
    <button
      *ngFor="let title of titles; index as i"
      class="text-lg font-semibold py-1 transition-colors capitalize"
      [ngClass]="{
        'text-[#ffbd20] border-b-2 border-[#ffbd20]': i === activeTab(),
        'text-white': i !== activeTab()
      }"
      (click)="setTab(i)"
    >
      {{ formatTitle(title) }}
    </button>
  </div>

  <!-- Panel -->
  <div class="bg-[#2d2d2d] p-4 rounded shadow-lg">
    <ng-container
      *ngComponentOutlet="activeComponent(); inputs: activeInputs()"
    ></ng-container>
  </div>
</div>
