<div *ngIf="!canEdit" class="flex flex-col gap-2">
  <div class="flex justify-between text-[#d1d1d1]">
    <!-- image and profile-->
    <div class="flex items-center gap-2">
      <div class="p-2 bg-[#454545] rounded-md">
        <img
          class="h-7 w-7"
          [src]="`assets/Icons/${experience().company}.png`"
          alt="f"
        />
      </div>
      <div>
        <div class="font-semibold">{{ experience().title }}</div>
        <div class="text-[#b0b0b0] text-sm">
          {{ experience().company }} &#x2022; {{ experience().location }}
        </div>
      </div>
    </div>

    <!-- dates -->
    <div class="text-sm text-[#b0b0b0]">
      {{ experience().startDate }} - {{ experience().endDate }}
    </div>
  </div>
  <!-- experience  -->
  <div class="text-xs text-justify text-[#b0b0b0]">
    {{ experience().description }}
  </div>

  <!-- buttons -->
  <div *ngIf="edit()" class="flex mt-2 gap-4">
    <div>
      <button
        (click)="toggleEdit()"
        class="px-5 py-1 rounded bg-[#3d3d3d] text-[#ffd149] border border-[#ffbd20] hover:bg-[#ffbd20] hover:text-white transition duration-200"
      >
        Edit
      </button>
    </div>

    <div>
      <button
        class="rounded px-4 py-1 border border-red-600 text-red-600 bg-red-600/10 hover:bg-red-600/20 transition"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<div *ngIf="canEdit">
  <app-experience-card-input [(canEdit)]="canEdit" />
</div>
