<div class="bg-[#2d2d2d] px-20 flex flex-col gap-2">
  <div class="text-2xl font-semibold flex justify-center">Login</div>

  <app-input-field
    label="Email"
    type="email"
    placeholder="Your Email"
    [required]="true"
    [(value)]="form.email"
    (valueChange)="
      formError.email =  `${$event.trim() === ''? 'Email is required' : ''}`
    "
  />
  <small *ngIf="formError.email" class="text-red-700 text-xs">{{
    formError.email
  }}</small>
  <app-input-field
    label="Password"
    type="password"
    placeholder="Password"
    [required]="true"
    [(value)]="form.password"
    (valueChange)="
      formError.password =   `${$event.trim() === ''? 'Password is required' : ''}`
    "
  />
  <small *ngIf="formError.password" class="text-red-700 text-xs">{{
    formError.password
  }}</small>

  <!-- Login button -->
  <div>
    <button
      (click)="onSubmit()"
      class="w-full font-semibold px-4 py-2 rounded bg-[#ffbd20] text-[#3d3d3d] border border-[#ffbd20] hover:bg-[#f99b07] hover:text-white transition duration-200 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Login
    </button>
  </div>

  <!-- dont have account div -->
  <div class="m-auto">
    Don't have an Account?
    <a href="" routerLink="/sign-up" class="text-[#ffbd20] hover:underline"
      >Sign up</a
    >
  </div>

  <!-- forget password button -->
  <div
    (click)="toggleResetPassword()"
    class="text-[#ffbd20] hover:underline cursor-pointer text-center"
  >
    Forget Password
  </div>
</div>

@if(resetPassword){

<app-reset-password [(resetPassword)]="resetPassword" />
}
