<app-loading-overlay [show]="showOverlay()" />
<!-- main page logic -->
<div class="min-h-[90vh] font-['poppins'] bg-[#2d2d2d] p-4 text-[#d1d1d1]">
  <!-- back button  -->

  <button
    (click)="goBack()"
    class="rounded px-4 py-2 text-[#ffbd20] bg-[#ffbd2033] hover:bg-[#ffbd204d] transition"
  >
    &#8592; Back
  </button>

  <!-- start -->

  <div class="w-2/3 mx-auto">
    <!-- component starts  -->
    <div class="flex justify-between">
      <!-- image and profile-->
      <div class="flex items-center gap-2">
        <div class="p-3 bg-[#454545] rounded-xl">
          <img
            class="h-14 w-14"
            [src]="`assets/Icons/${job.company}.png`"
            [alt]="`${job.company} Logo`"
          />
        </div>
        <div class="flex flex-col gap-1">
          <div class="font-semibold text-2xl">{{ job.jobTitle }}</div>
          <div class="text-[#b0b0b0] text-lg">
            {{ job.company }} &bull; {{ getTime }} &#x2022;
            {{ job.applicants != null ? job.applicants.length : "NA" }}
            Applicants
          </div>
        </div>
      </div>
    </div>

    <!-- line break -->
    <hr class="border border-[#474643] mt-6 mb-4" />

    <app-apply-job-application-form [jobId]="jobId" />
  </div>
</div>
