<div
  class="bg-[#3d3d3d] rounded-xl p-4 w-96 flex flex-col gap-3 hover:shadow-[0_0_5px_1px_yellow] !shadow-[#ffbd20] transition duration-400 ease-in-out"
>
  <!-- title section -->
  <div class="flex justify-between">
    <!-- image and profile-->
    <div class="flex items-center gap-2">
      <div class="p-1 bg-[#454545] rounded-full">
        <img
          *ngIf="profile && profile.profileImage"
          [src]="
            profile.profileImage
              ? 'data:image/jpeg;base64,' + profile.profileImage
              : 'assets/avatar1.png'
          "
          class="w-10 h-10 rounded-full object-cover border-2 border-[#584940]"
        />
        <img
          *ngIf="!profile || !profile.profileImage"
          src="assets/avatar1.png"
          alt="Default Avatar"
          class="w-10 h-10 rounded-full object-cover border-2 border-[#584940]"
        />
      </div>
      <div>
        <div class="font-semibold text-lg">{{ profile.name }}</div>
        <div class="text-[#b0b0b0] text-xs">
          {{ profile.jobTitle }} &#x2022; {{ profile.company }}
        </div>
      </div>
    </div>
    <!-- bookmark -->
    <div>
      <!-- <img class="text-[#ffbd20]" src="assets/bookmark.svg" alt="" /> -->
      <svg
        (click)="toggleHeart()"
        [attr.fill]="isLiked ? '#ffbd20' : 'none'"
        [attr.stroke]="isLiked ? '#ffbd20' : '#ffbd20'"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 cursor-pointer transition duration-200 ease-in-out"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 0 1 6.364 0L12 7.636l1.318-1.318a4.5 4.5 0 1 1 6.364 6.364L12 21.364 4.318 12.682a4.5 4.5 0 0 1 0-6.364z"
        />
      </svg>
    </div>
  </div>

  <!-- job decription tags -->
  <div class="mt-2 overflow-hidden">
    <div
      class="flex gap-2 flex-wrap [&>div]:py-1 [&>div]:px-2 [&>div]:text-xs [&>div]:rounded-lg [&>div]:bg-[#454545] [&>div]:text-[#ffbd20]"
    >
      @for(topskill of profile.skills.slice(0,4);track $index){
      <div>{{ topskill }}</div>
      }
    </div>
  </div>

  <!-- actual job description , but line clamp , show only 2 lines or 3 -->
  <div class="text-[#b0b0b0] text-sm mt-2 line-clamp-2">
    {{ profile.about }}
  </div>

  <hr class="border border-[#474643] my-1" />
  <div></div>
  <hr class="border border-[#474643] my-1" />

  <!-- buttons -->

  <div class="flex [&>*]:w-1/2 gap-2">
    <!-- profile button -->
    <div>
      <button
        [routerLink]="['/talent-profile', profile.id]"
        class="w-full px-4 py-2 rounded bg-[#3d3d3d] text-[#ffd149] border border-[#ffbd20] hover:bg-[#ffbd20] hover:text-white transition duration-200"
      >
        Profile
      </button>
    </div>

    <!-- Message Buttons -->
    <div>
      <button
        class="flex gap-2 justify-around w-full rounded px-4 py-2 text-[#ffbd20] bg-[#ffbd2033] hover:bg-[#ffbd204d] transition"
      >
        Message
      </button>
    </div>
  </div>
</div>

<!-- modal window -->

<app-loading-overlay [show]="false" />
