<div class="mt-20 pb-5">
  <div class="text-5xl text-center mb-5 font-semibold text-[#e7e7e7]">
    What <span class="text-[#ffbd20]">User</span> says about us?
  </div>

  <!-- main div -->
  <div>
    <!-- left section -->
    <div class="flex gap-2 items-center">
      <img
        src="assets/avatar.png"
        alt="Profile"
        class="w-14 h-14 rounded-full object-cover border-2 border-[#ffbd20]"
      />
      <div class="text-lg text-[#f6f6f6] font-semibold">Prajwal Rode</div>
      <div></div>
    </div>
  </div>
</div>
