<div class="flex flex-col gap-1 mb-4">
  @if (label) {
  <label class="text-[#d1d1d1] text-md font-medium">
    {{ label }}
    @if (required) {
    <span class="text-rose-500">*</span>
    }
  </label>
  } @if (type === 'textarea') {
  <textarea
    class="bg-[#2d2d2d] text-white p-3 rounded border border-[#555555] hover:border-[#ffbd20] focus:border-[#ffbd20] focus:outline-none transition-all appearance-none resize-none"
    [attr.placeholder]="placeholder"
    [required]="required"
    [style.minHeight.px]="minRows * 24"
    [(ngModel)]="value"
  ></textarea>
  }@else if (type === 'file') {
  <label
    class="flex items-center justify-between gap-2 bg-[#2d2d2d] text-white p-3 rounded border border-[#555555] hover:border-[#ffbd20] cursor-pointer transition-all"
  >
    <div class="flex gap-2 items-center">
      <input
        #fileInputRef
        type="file"
        class="hidden"
        [required]="required"
        (change)="onFileChange($event)"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-paperclip"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5"
        />
      </svg>
      <span>{{ value?.name || "Choose File" }}</span>
    </div>
    @if (value) {
    <button
      type="button"
      class="text-gray-400 hover:text-red-400 focus:outline-none text-sm"
      (click)="removeFile(fileInputRef); $event.stopPropagation()"
    >
      &#10005;
    </button>
    }
  </label>
  } @else {
  <input
    class="bg-[#2d2d2d] text-white p-2 rounded border border-[#7c7b7b] placeholder:text-gray-400 placeholder:text-sm hover:border-[#ffbd20] focus:border-[#ffbd20] focus:outline-none transition-all appearance-none"
    [class.number-to-text]="type === 'number'"
    [type]="type"
    [placeholder]="placeholder"
    [required]="required"
    [attr.min]="type === 'number' ? min : null"
    [attr.max]="type === 'number' ? max : null"
    [ngModel]="value"
  />
  }
</div>
