<div class="min-h-[90vh] bg-[#2d2d2d] font-['poppins']">
  <hr class="border border-[#474643] my-2" />
  <!-- Job Search , on multiple factors  -->
  <div class="flex justify-evenly gap-2 items-center [&>div]:w-1/5 p-2">
    @for(dropDown of dropDownData;track $index){
    <div class="w-1/5 max-w-[400px] py-5">
      <app-multi-input-searching
        [items]="dropDown.options"
        [iconPath]="dropDown.icon"
        [title]="dropDown.title"
      />
    </div>
    }
    <div class="px-4">
      <app-slider />
    </div>
  </div>

  <hr class="border border-[#474643] my-2" />
  <!-- main job section , jobs compoenent -->
  <app-jobs />
</div>
