<app-loading-overlay [show]="showOverlay" />

<div class="w-4/5 mx-auto mt-10">
  <!-- banner image and profile image   -->
  <div class="relative">
    <!-- Banner -->
    <img
      class="rounded-t-2xl"
      src="assets/Profile/banner.jpg"
      alt="banner image"
    />

    <!-- Profile Image -->
    <div *ngIf="profile" class="absolute -bottom-14 left-3">
      <div class="relative w-48 h-48 group">
        <!-- Profile Image -->
        <img
          class="h-full w-full border-8 border-[#2d2d2d] rounded-full object-cover transition duration-300 group-hover:brightness-75"
          [src]="
            profile.profileImage
              ? 'data:image/jpeg;base64,' + profile.profileImage
              : 'assets/avatar1.png'
          "
          alt="profile image"
        />

        <!-- Edit Icon (Hidden by default, shows on hover) -->
        <label
          for="profileImageInput"
          class="absolute bottom-3 right-3 bg-[#2d2d2d] hover:bg-[#3a3a3a] p-2 rounded-full cursor-pointer border-2 border-[#ffbd20] transition"
        >
          <!-- opacity-0 group-hover:opacity-100 for making the edit button hidden , till hovered -->
          <img src="assets/edit-profile/pencil.png" class="h-5 w-5" />
        </label>

        <input
          id="profileImageInput"
          type="file"
          class="hidden"
          (change)="onProfileImageSelected($event)"
        />
      </div>
    </div>
  </div>

  <!-- profile info -->
  <div class="flex flex-col gap-1 px-3 mt-16 text-[#d1d1d1]">
    <!-- name and edit and save icon -->
    <div class="flex justify-between items-center">
      <div *ngIf="profile; else notProfile" class="text-3xl font-semibold">
        {{ profile.email.split("@")[0] }}
      </div>
      <ng-template #notProfile>
        <div class="text-3xl font-semibold">Profile</div>
        <div class="">Failed to get profile</div>
      </ng-template>

      <div *ngIf="profile" class="p-1 cursor-pointer">
        <!-- if want  to edit  -->
        <div
          *ngIf="!edit()[0]"
          (click)="handleEdit(0)"
          class="hover:bg-[#4b4635] flex gap-2 p-2 rounded-full"
        >
          <img
            class="h-7 w-7"
            src="assets/edit-profile/pencil.png"
            alt="edit-pencil"
          />
        </div>
        <!-- if want to save -->
        <div *ngIf="edit()[0]" class="flex gap-2">
          <div
            (click)="handleEdit(0); saveSection('profile')"
            class="hover:bg-[#4b4635] p-2 rounded-full"
          >
            <img
              class="h-7 w-7"
              src="assets/edit-profile/save.png"
              alt="edit-save"
            />
          </div>
          <div
            (click)="handleEdit(0); onCancelEdit()"
            class="hover:bg-[#4b4635] p-2 rounded-full"
          >
            <img
              class="h-7 w-7"
              src="assets/edit-profile/cross.png"
              alt="edit-save"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Dynamically update based on edit -->
    @if(!edit()[0]){
    <!-- role , company , location information -->
    <div *ngIf="profile.jobTitle && profile.company" class="text-xl">
      {{ profile.jobTitle }} &bull; {{ profile.company }}
    </div>
    <div>
      <span
        *ngIf="profile.location"
        class="flex items-center gap-1 text-[#888888] text-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#888888"
          viewBox="0 0 24 24"
          stroke="#888888"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5A2.5 2.5 0 1 1 12 6a2.5 2.5 0 0 1 0 5.5z"
          />
        </svg>

        {{ profile.location }}
      </span>
    </div>
    }@else {
    <div class="[&>*]:w-1/2 flex justify-between gap-4">
      <div>
        <app-profile-input
          [(value)]="profileEdit.jobTitle"
          [field]="fields[0]"
          [required]="true"
        />
      </div>
      <div>
        <app-profile-input
          [(value)]="profileEdit.company"
          [field]="fields[1]"
          [required]="true"
        />
      </div>
    </div>
    <app-profile-input
      [(value)]="profileEdit.location"
      [field]="fields[2]"
      [required]="true"
    />
    }
  </div>

  <hr class="border border-[#474643] my-8 mx-3" />

  <!-- About section -->
  <div class="px-3">
    <!-- name and edit and save icon -->
    <div
      class="text-2xl mb-1 font-semibold text-[#d1d1d1] flex items-center justify-between"
    >
      <div>About</div>
      <div *ngIf="profile" class="p-1 cursor-pointer">
        <!-- if want  to edit  -->
        <div
          *ngIf="!edit()[1]"
          (click)="handleEdit(1)"
          class="hover:bg-[#4b4635] flex gap-2 p-2 rounded-full"
        >
          <img
            class="h-7 w-7"
            src="assets/edit-profile/pencil.png"
            alt="edit-pencil"
          />
        </div>
        <!-- if want to save -->
        <div *ngIf="edit()[1]" class="flex gap-2">
          <div
            (click)="handleEdit(1); saveSection('about')"
            class="hover:bg-[#4b4635] p-2 rounded-full"
          >
            <img
              class="h-7 w-7"
              src="assets/edit-profile/save.png"
              alt="edit-save"
            />
          </div>
          <div
            (click)="handleEdit(1); onCancelEdit()"
            class="hover:bg-[#4b4635] p-2 rounded-full"
          >
            <img
              class="h-7 w-7"
              src="assets/edit-profile/cross.png"
              alt="edit-save"
            />
          </div>
        </div>
      </div>
    </div>

    @if(!edit()[1]){
    <div class="text-sm text-[#b0b0b0] text-justify">
      <p *ngIf="profile">{{ profile.about }}</p>
    </div>
    }@else {
    <!-- we can add component also , but rn i am giving just normal input -->
    <div class="w-full">
      <textarea
        class="bg-[#2d2d2d] text-white p-3 rounded border border-[#555555] hover:border-[#ffbd20] focus:border-[#ffbd20] focus:outline-none transition-all appearance-none resize-none cursor-default w-full"
        placeholder="Enter About youself....."
        required="true"
        [style.minHeight.px]="7 * 24"
        [(ngModel)]="profileEdit.about"
      ></textarea>
    </div>
    }
  </div>

  <hr class="border border-[#474643] my-6 mx-3" />

  <!-- Skills section -->
  <div class="px-3">
    <!-- name and edit icon and save icon -->
    <div
      class="text-2xl mb-1 font-semibold text-[#d1d1d1] flex items-center justify-between"
    >
      <div>Skills</div>
      <div *ngIf="profile" class="p-1 cursor-pointer">
        <!-- if want  to edit  -->
        <div
          *ngIf="!edit()[2]"
          (click)="handleEdit(2)"
          class="hover:bg-[#4b4635] flex gap-2 p-2 rounded-full"
        >
          <img
            class="h-7 w-7"
            src="assets/edit-profile/pencil.png"
            alt="edit-pencil"
          />
        </div>
        <!-- if want to save -->
        <div *ngIf="edit()[2]" class="flex gap-2">
          <div
            (click)="handleEdit(2); saveSection('skill')"
            class="hover:bg-[#4b4635] p-2 rounded-full"
          >
            <img
              class="h-7 w-7"
              src="assets/edit-profile/save.png"
              alt="edit-save"
            />
          </div>
          <div
            (click)="handleEdit(2); onCancelEdit()"
            class="hover:bg-[#4b4635] p-2 rounded-full"
          >
            <img
              class="h-7 w-7"
              src="assets/edit-profile/cross.png"
              alt="edit-save"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap gap-2">
      <!-- skill use for loop -->
      @if(!edit()[2]){ @for(skill of profile.skills;track $index){
      <div
        class="bg-[#ffd149]/15 text-[#ffbd20] rounded-3xl px-3 py-1 font-medium"
      >
        {{ skill }}
      </div>
      } }@else {
      <div class="w-full">
        <app-tags-input
          placeholder="Add a skill"
          [(inputTags)]="profileEdit.skills"
        />
      </div>
      }
    </div>
  </div>

  <hr class="border border-[#474643] my-6 mx-3" />

  <!-- Experience section -->
  <div class="px-3">
    <!-- title and edit and save icon -->
    <div
      class="text-2xl font-semibold mb-5 text-[#d1d1d1] flex justify-between items-center"
    >
      <div>Experience</div>

      <!-- images-->
      <div class="flex items-center">
        <!-- add exp -->
        <div
          *ngIf="profile"
          [ngClass]="{
            'bg-[#2d2d2d]': addExp,
            'bg-[#4b4635]': addExp
          }"
          class="rounded-full p-2 cursor-pointer"
        >
          <!-- if want  to edit  -->
          <img
            (click)="toggleAddExp()"
            class="h-7 w-7"
            src="assets/edit-profile/plus.png"
            alt="plus -pencil"
          />
        </div>
        <div
          *ngIf="profile && profile.experience.length"
          class="p-1 cursor-pointer"
        >
          <!-- if want  to edit  -->
          <div
            *ngIf="!edit()[3]"
            (click)="handleEdit(3)"
            class="hover:bg-[#4b4635] flex gap-2 p-2 rounded-full"
          >
            <img
              class="h-7 w-7"
              src="assets/edit-profile/pencil.png"
              alt="edit-pencil"
            />
          </div>
          <!-- if want to cancel -->
          <div *ngIf="edit()[3]" class="flex gap-2">
            <div
              (click)="handleEdit(3)"
              class="hover:bg-[#4b4635] p-2 rounded-full"
            >
              <img
                class="h-7 w-7"
                src="assets/edit-profile/cross.png"
                alt="edit-save"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-8">
      @for(experience of profileEdit.experience;track $index){
      <app-experience-card
        (deleteIt)="deleteExperience($event)"
        [(experience)]="profileEdit.experience[$index]"
        (experienceChange)="saveSection('experience')"
        [edit]="edit()[3]"
      />
      }

      <!-- add a new exp section -->
      @if(addExp){
      <!-- <div>diijdiaw</div> -->
      <app-add-experience-card [(canAdd)]="addExp" />
      }
    </div>
  </div>

  <hr class="border border-[#474643] my-6 mx-3" />

  <!-- Certifications section -->
  <div class="px-3">
    <div
      class="text-2xl font-semibold mb-5 text-[#d1d1d1] flex justify-between items-center"
    >
      <div>Certifications</div>
      <div class="flex items-center">
        <!-- add certi -->
        <div
          *ngIf="profile"
          (click)="toggleAddCerti()"
          [ngClass]="{
            'bg-[#2d2d2d]': addCerti,
            'bg-[#4b4635]': addCerti
          }"
          class="rounded-full p-2 cursor-pointer"
        >
          <!-- if want  to add  -->
          <img
            class="h-7 w-7"
            src="assets/edit-profile/plus.png"
            alt="plus -pencil"
          />
        </div>
        <div
          *ngIf="profile && profile.certification.length"
          class="p-1 cursor-pointer"
        >
          <!-- if want  to edit  -->
          <div
            *ngIf="!edit()[4]"
            (click)="handleEdit(4)"
            class="hover:bg-[#4b4635] flex gap-2 p-2 rounded-full"
          >
            <img
              class="h-7 w-7"
              src="assets/edit-profile/pencil.png"
              alt="edit-pencil"
            />
          </div>
          <!-- if want to save -->
          <div *ngIf="edit()[4]" class="flex gap-2">
            <div
              (click)="handleEdit(4)"
              class="hover:bg-[#4b4635] p-2 rounded-full"
            >
              <img
                class="h-7 w-7"
                src="assets/edit-profile/cross.png"
                alt="edit-save"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-8">
      @for(certification of profileEdit.certification;track $index){
      <app-certification-card
        (deleteCerti)="deleteCertification($event)"
        [certification]="profileEdit.certification[$index]"
        [edit]="edit()[4]"
      />
      }

      <!-- take input if plus icon is clicked -->
      @if(addCerti){
      <app-certification-card-input [(addCerti)]="addCerti" />
      }
    </div>
  </div>
</div>

@if(notification.show){
<app-notification
  [(show)]="notification.show"
  [message]="notification.message"
  [type]="notification.type"
  [title]="notification.title"
  [time]="notification.time"
/>
}
